.ls{
    background: #fff;
    color: #000;
    height: 75vh;
}
.ls-top{
    padding: 20px;
}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ls-nav .logo{
    max-width: 40px;
    border-radius: 12px;
}

.menu-icon{
    color: black;
    height: 27px;
    width: 26px;
    opacity: 0.6;
    cursor: pointer;
}
.ls-search{
    background: #d8d7d7;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 10px;
    border-radius: 16px;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color: rgb(10, 1, 1);
    font-size: 12px;    
}
.ls-search input::placeholder{
    color: rgb(45, 47, 51);
}
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}
.ls-list img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #000;
}
.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}
.p-name{
    display: flex;
    flex-direction: column;
}
.p-name span{
    color: #4e4e81;
    font-size: 11px;
}
.friends:hover{
    background-color: #d8d7d7;
}
.friends:hover .p-name span{
    color: #fff;
}
.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}
.menu .sub-menu {
    position: absolute;
    /* top: 100%; */
    right: 0;
    width: 126px;
    padding: 20px;
    border-radius: 5px;
    background: #f3f3f3;
    color: black;
}
.sub-menu hr{
    border: none;
    height: 1px;
    background: black;
    margin: 8px 0px;
}
.sub-menu p {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}